<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Document</title>
</head>
<style>
  .product {
    border: 1px solid rgb(212, 151, 151);
    text-align: center;
    padding-top: 15px;
    margin: 50px
  }

  .image {
    width: 250px;
    height: 250px;
  }
  .dropdown{
    display: flex;
    justify-content: center;
  }
  .row{
    display: flex;
    text-align: center;
    margin-left: 250px;
  }
  .desc {
    overflow-wrap: break-word;
  }
</style>

<body>
  <div  id="app" >
       <label for="pages">Select products per page:</label>
          <select name="pages" id="pages" v-model="perPage">
             <option value="10">10</option>
             <option value="12">12</option>
             <option value="25">25</option>
             <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span>
            <label for="pages">Sort products by :</label>
            <select name="pages" id="pages" v-model="sortBy">
               <option value="price">price</option>
               <option value="date">date</option>
               <option value="id">id</option>
             
            </select>
          </span>
          <span>
            <label for="pages">high to low & low to high :</label>
            <select name="pages" id="pages" v-model:sort="sort">
               <option value="asc">low to high</option>
               <option value="desc">high to low</option>
               <option value="date">newest product</option>
            </select>
          </span>
   <div class="container mt-3 row">
        <div v-for="(data,index) in products"class="desc card-body product  col- 12 col-sm-12 col-md-6 col-lg-3 overflow-auto ">
           <h2>product Image</h2>
           <img class="image"  :src="data.images.length===0?'console.log(no image)':data.images[0].src " alt="no image of product"><!--v-if="data.images.length===0"-->
          <div class="desc " style="width:300px">
            <div>
               <h4 class="desc card-title">{{data.name}}</h4>
               <p class="card-text">${{data.price}}</p>
               <p class="card-text">{{data.date_created}}</p>
               <p class="card-text">{{data.id}}</p>
            </div>
          </div>
        </div>
    <button v-show="this.pages"  @click="previousPage()">previous page</button>
    <button v-show=" this.totalPages > this.pages " @click="nextPage()">next page</button>
    
    </div>
</div>

</body>
<script>
  const app = new Vue({
    el: '#app',
    data: {
     // src: "",
      products: [],
      pages: 55,
      totalPages:null,
      perPage :10,
      sort : "desc",
      sortBy : "date",
      // sort : {
      //   desc : "",
      //   asc : "",
      //   date : ""
      // }
},
    mounted() {
      this.fetchAPI();
   
},
    watch:{
     perPage(value){
      this.perPage =  value;
       this.fetchAPI();
       
    },
    sortBy(value){
      console.log(value)
      this.sortBy =  value;
       this.fetchAPI();
    },
  sort(value){
      // console.log(value)
      // this.sort =  value;
      //  this.fetchAPI();
      if(value === "desc"){
       this.sort = "desc";
       console.log(value)
      }else if(value === "asc"){
     this.sort = "asc";
     console.log(value)
    }
    // else if (value === "date"){
    //    this.sortBy = "date";
    //    console.log(value)
    //   }
      this.fetchAPI();
   }
    },
    methods: {
      previousPage: function () {
        if (this.pages > 0) {
          this.pages--;
          this.fetchAPI();
          console.log(this.pages)
        }
  },
      nextPage: function () {
        if(this.pages < this.totalPages){
        this.pages++;
        this.fetchAPI();
        console.log(this.pages)
      } 
      },
      fetchAPI: function () {
        axios.get("https://api.officeworks.ph/wp-json/wc/v3/products",
          {
            params: {
              consumer_key: "ck_db9dcbdc500e6ca14a2d8e954b0b78aa922e2f33",
              consumer_secret: "cs_ee59f70a4178daffc626d3f92909233a1d015d30",
              page: this.pages,
              //orderby: "price",
              per_page : this.perPage,
              order : this.sort,
             orderby : this.sortBy,
           },
          })
          .then(response => {
            this.products = response.data;
            this.totalPages = response.headers["x-wp-totalpages"];
            console.log(response)
            console.log(this.orderBy)
     })
          .catch(error => {
            console.log(error)
          })
      },
    }
  })
</script>

</html>