<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
<div id="todo">
    <p>Add a TODO <input type="text"  v-model=" todoTask"  placeholder="E.g. Feed the cat"></p>
    <button @click ="addNewTodo">addNewTODO</button>
    
    

    <ol> 
        <li v-for = "(todo, index,) in todoList" >
          <p>{{todo.title}}</p>
           <button @click ="removeTodo(index)">Delete</button> | 
           <button v-if="todo.completed" @click ="taskToggle" >completed</button>
           <button v-else="todo.completed" @click ="taskToggle" >inompleted </button>
        </li>
    </ol>
  
</div>

</body>

<script>
    
const app = new Vue({
    el : "#todo",
    data:{
        todoId : 0,
        todoTask : "",
        completed : true,
        todoList :[ 
        {
        id: "demoId",
        title: 'Do the dishes',
        completed : false,
      },
      {
        id: 2,
        title: 'Take out the trash',
        completed : false,
      },
      {
        id: 3,
        title: 'Mow the lawn',
        completed : false,
      }
        ],
       
        
    },
   methods: {  
    addNewTodo : function(){
        this.todoList.push({
            id : this.todoId++,
            title:this.todoTask,
            completed : this.completed
        })
        this.todoTask = "";
      
    },
    removeTodo : function(index){
      this.todoList.splice(index,1)
      console.log(index)
    },
   
    taskToggle: function(){
         todo.completed = !todo.completed
    }
   }
})

</script>
</html>


















