<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <title>Document</title>
</head>
<style>
    .todoTaskCompleted {
        text-decoration-line: line-through;
    }
</style>

<body>
    <div id="app">
        <inputcomp></inputcomp>
        <btn text="addNewTodo" v-on:do-task="addNewTodo" v-if="this.$store.state.todoTask"></btn>
        <list></list>
    </div>
</body>
<script>
    // btn component 
    Vue.component("btn", {
        template:
            `<button v-on:click="$emit('do-task')" >{{text}}</button>`,
        props: ["text"],
    })
    //  inputcomponent 
    Vue.component("inputcomp", {
        template: `<input v-model ="todoTask">`,
        computed: {
            todoTask: {
                get() {
                    return this.$store.state.todoTask
                },
                set(value) {
                    this.$store.commit('updateMessage', value)
                }
            }
        }
    })
    //list component li ol
    Vue.component("list", {
        template: `
    <ol>
        <li v-for="(todo,index) in listloop">
            <p  v-bind:class="{ todoTaskCompleted: todo.status }">{{todo.taskTodo}}</p> 
            <btn text="Delete" v-on:do-task="deleteTask(index)"></btn>|
            <btn  text="UP" v-on:do-task="goUp(index)"  v-show="showUpBtn(index)"></btn>|
            <btn text="Down" v-on:do-task="goDown(index)"></btn>|
            <btn text="MarkCompleted" v-on:do-task="markCompleted(todo)"></btn>
        </li>
    </ol>`,
        computed: {
            listloop: function () {
                console.log(store.getters.loopTodoList)
                return store.getters.loopTodoList;
            },
            showUpBtn: function () {
                return store.state.todoList[index - 1]
            }
        },


        methods: {
            goUp(index) {
                this.$store.commit("goingUp", index)
            },
            goDown(index) {
                this.$store.commit("goingDown", index)
            },
            deleteTask(index) {
                this.$store.commit("removeTodo", index)
            },
            markCompleted(todo) {
                this.$store.commit("taskToggle", todo)
            }
        },
    })
    //Vuex store
    const store = new Vuex.Store({
        state: {
            todoTask: "",
            todoList: []
        },
        mutations: {
            updateMessage(state, value) {
                state.todoTask = value,
                    console.log(state.todoTask)
            },
            addNewTodo(state) {
                state.todoList.push({
                    taskTodo: state.todoTask,
                    status: false
                })
                state.todoTask = "";
            },
            goingDown: function (state, index) {
                var todoArray = state.todoList;
                let currentIndex = todoArray[index];
                let nextIndex = todoArray[index + 1];
                todoArray[index] = nextIndex;
                todoArray[index + 1] = currentIndex;
                state.todoList = todoArray
                //this.$forceUpdate() 
                console.log(state.todoList)
            },
            goingUp: function (state, index) {
                var todoArray = state.todoList;
                let currentIndex = todoArray[index];
                let lastIndex = todoArray[index - 1];
                todoArray[index] = lastIndex;
                todoArray[index - 1] = currentIndex;
                state.todoList = todoArray
                // this.$forceUpdate() 
                console.log(state.todoList)
            },
            removeTodo: function (state, index) {
                state.todoList.splice(index, 1)
            },
            taskToggle: function (todo) {
                todo.status = !todo.status;
            }
        },
        getters: {
            loopTodoList: function (state) {
                console.log(store.state.todoList)
                return state.todoList;
            }
        }
    })
    //Vue instance
    const app = new Vue({
        el: "#app",
        store,
        methods: {
            addNewTodo() {
                this.$store.commit("addNewTodo")
            },
        }
    })
</script>

</html>